<footer class="footer mt-5">
  <div class="container">
      <div class="row">
          <div class="col-md-2">
               <div class="footer-logo">   
                 <img src="{{ settings.logo | image_url }}" class="w-100"/>
               </div>
               <div class="footer-social-link">
                  <ul>
                    {%- if section.settings.facebook != "" -%}
                      <li>
                          <a href="{{ section.settings.facebook }}">
                              <img src="{{ "facebook.png" | asset_url }}" />
                          </a>
                      </li>
                    {%- endif -%}
                    {%- if section.settings.insta != "" -%}
                      <li>
                          <a href="{{ section.settings.insta }}">
                              <img src="{{ "instagram.png" | asset_url }}" />
                          </a>
                      </li>
                    {%- endif -%}
                    {%- if section.settings.youtube != "" -%}
                      <li>
                          <a href="{{ section.settings.youtube }}">
                              <img src="{{ "youtube.png" | asset_url }}" />
                          </a>
                      </li>
                    {%- endif -%}

                  </ul>
               </div>
          </div>
          <div class="col-md-3">
              
          </div>
          <div class="col-md-2 links">
              <h4>Quick</h4>
              <ul>
                  {%- for link in section.settings.menu.links -%}
                      <li ><a class="text-dark" href="{{ link.url }}">{{ link.title }}</a></li>
                  {%- endfor-%}
              </ul>
          </div>
          <div class="col-md-2 links">
<!--               <h4>Need help?</h4>
              <ul>
                  <li><a>Search</a></li>
                  <li><a>Terms of Service</a></li>
                  <li><a>Privacy Policy</a></li>
                  <li><a>Refund Policy</a></li>
                  <li><a>My Account</a></li>
               </ul> -->
          </div>
          <div class="col-md-2">
             <div class="contact"> 
               <h4>Get in Touch</h4>
               <p><a href="/pages/contact" class="text-dark">Contact Us</a></p>
              </div>
              
          </div>
      </div>
      
      <div class="row">
        <p class="copy-right">Copyright 2022 Mossgalleries | All rights reserved</p>   
      </div>
  </div>
</footer>
{% schema %}
{
  "name": "t:sections.footer.name",
  "tag": "footer",
  "class": "section",
  "settings": [
    {
      "type" : "url",
      "id" : "fb",
      "label" : "Facebook"
    },
    {
      "type" : "url",
      "id" : "insta",
      "label" : "Instagram"
    },
    {
      "type" : "url",
      "id" : "youtube",
      "label" : "Youtube"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    }
  ]
}
{% endschema %}